/* Color Palette
 *
 * Derive color shades consistent with grey tones.
 *
 */

$black-99: #0f0f0f;
$black-95: #1d1d1d;
$black-90: #202020;
$black-80: #414141;
$black-70: #606060;
$black-60: #747474;
$black-50: #9d9d9d;
$black-40: #bcbcbc;
$black-30: #dfdfdf;
$black-20: #ededed;
$black-10: #f5f5f5;

//700 A
$purple-10:#ce93d8;
$purple-50:#aa00ff;
$purple-90:#4a148c;

//700 A
$green-10 : #A7FFEB;
$green-50 : #1DE9B6;
$green-90 : #004D40;

//700 A
$orange-10 : #FFD180;
$orange-50 : #FF9100;
$orange-90 : #E65100;

//700 A
$red-10  : #ff5131;
$red-50  : #d50000;
$red-90  : #9b0000;

//700 A
$blue-10 : #768fff;
$blue-50 : #2962ff;
$blue-90 : #0039cb;

//700 A
$yellow-10 : #ffff52;
$yellow-50 : #ffd600;
$yellow-90 : #c7a500;